<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
    main {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* background-color: black; */
        /* background: linear-gradient(to left, white, skyblue); */
        color: blue;
        width: 100vw;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
    }
    h1 {
        font-family: cursive;
        text-align: center;
    }
    #box {
        height: 100px;
        width: 100px;
        border: 2px solid black;
        background-color: gainsboro;
    }
    .navigation {
        position: sticky;
        top: 0px;
    }
</style>

<main class="main">
    <app-admin class="navigation"></app-admin>
    <h1>{{ title }}</h1>
    <img src="image.png" alt="abc" height="200px" />
    <!-- <form action="">
        <table>
            <tr>
                <td><label for="fname">First name</label></td>
                <td><input type="text" id="fname" /></td>
            </tr>
            <tr>
                <td>
                    <label for="lname">Last name</label>
                </td>
                <td>
                    <input type="text" id="lname" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="phone">Phone no</label>
                </td>
                <td>
                    <input type="text" id="phone" />
                </td>
            </tr>
            <tr>
                <td><input type="radio" name="gender" id="" />Male</td>
                <td><input type="radio" name="gender" id="" />Fe-Male</td>
            </tr>
            <tr>
                <td>
                    <select>
                        <option>JAVA</option>
                        <option>JAVASCRIPT</option>
                        <option>C++</option>
                    </select>
                </td>
                <td>
                    <input type="submit" />
                </td>
            </tr>
        </table>
    </form> -->
    <div #demo></div>
    <button (click)="fibonachi(-1, 1, demo)">fibonachi</button>
    <!-- <button (click)="getData('shivam')" #btn>click me</button>
    <br />
    <input type="password" #pass /><br />`
    <input
        type="password"
        #conpass
        (blur)="getValidate(pass.value, conpass.value)"
    /> -->
    <div id="box" #box></div>
    <!-- <input type="text" #colorBox placeholder="Enter color" /> -->
    <select #colorList (change)="changeColor(colorList.value, box)">
        <option value="">-- select the color --</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
    </select>
    <!-- <button #btn (click)="changeColor(colorList.value, box)">Go</button> -->
</main>
<!-- <app-withouthtml></app-withouthtml> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
